.vscode/
.docker/
.vscode/settings.json
/settings.json
.docker/mongodb/data/db/_mdb_catalog.wt
.docker/mongodb/data/db/collection-0-2374432620113312356.wt
.docker/mongodb/data/db/collection-2-2374432620113312356.wt
.docker/mongodb/data/db/collection-4-2374432620113312356.wt
.docker/mongodb/data/db/index-1-2374432620113312356.wt
.docker/mongodb/data/db/index-3-2374432620113312356.wt
.docker/mongodb/data/db/index-5-2374432620113312356.wt
.docker/mongodb/data/db/index-6-2374432620113312356.wt
.docker/mongodb/data/db/mongod.lock
.docker/mongodb/data/db/sizeStorer.wt
.docker/mongodb/data/db/storage.bson
.docker/mongodb/data/db/WiredTiger
.docker/mongodb/data/db/WiredTiger.lock
.docker/mongodb/data/db/WiredTiger.turtle
.docker/mongodb/data/db/WiredTiger.wt
.docker/mongodb/data/db/WiredTigerHS.wt
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-30-05Z-00000
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-32-43Z-00000
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-33-38Z-00000
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-36-14Z-00000
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-37-40Z-00000
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-38-31Z-00000
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-46-04Z-00000
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-48-07Z-00000
.docker/mongodb/data/db/diagnostic.data/metrics.2020-11-07T10-54-07Z-00000
.docker/mongodb/data/db/journal/WiredTigerLog.0000000010
.docker/mongodb/data/db/journal/WiredTigerPreplog.0000000001
.docker/mongodb/data/db/journal/WiredTigerPreplog.0000000002
.vscode/settings.json
.vscode/settings.json
